@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.ttf')  format('truetype'),
    url('../fonts/Roboto/Roboto-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Light.ttf')  format('truetype'),
    url('../fonts/Roboto/Roboto-Light.svg') format('svg');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Medium.ttf')  format('truetype'),
    url('../fonts/Roboto/Roboto-Medium.svg') format('svg');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.eot') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Bold.ttf')  format('truetype'),
    url('../fonts/Roboto/Roboto-Bold.svg') format('svg');
}
